* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  background: #000;
  color : #fff;
}

/* Stylise the Header Page  */

.header {
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header h1 {
  text-align: center;
  background-color: rgba(38, 13, 13, 0.6);
  padding: 10px;
  border-radius: 10px ;
}

.slider-container {
  margin: 0 20px;
  background-color: #4b4b4b;
  padding: 2px;
  box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.6); /* Add shadow */
  /* position: relative; */
}

.center-text {
  text-align: center;
}

/* .slider {
  width: 100%;
  height: 10px;
  background-color: lightgray;
  margin-bottom: 10px;
} */

/* .slider-handle {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  cursor: grab;
  position: relative;
} */

.slider-handle {
  width: 10px;
  height: 20px; /* Extend height beyond container */
  position: relative;
  transform: translate(-50%, -50%);
  background-color: #ccc;
  border-radius: 5px;
  border-right:2px solid #000 ;
  border-bottom:2px solid #000 ;
  box-shadow: 2px 3px 3px rgba(57, 57, 57, 0.6); /* Add shadow */
  cursor: pointer;
}

.card {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
  min-width: 200px;
}

.sightings-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
}

button {
  color: #000;
  background: #fff;
  padding: 6px;
  margin: 6px 0;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease
}

button:hover {
  background: #ededed;
  box-shadow: 1px 2px 2px rgba(150, 150, 150, 0.4); /* Add shadow */
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

.sightings-screen {
  color: #fff;
}

.sightings-screen h1 {
  text-align: center;
}

.sightings-screen-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sightings-panel {
  display: flex;
  flex-direction: row;
}

.sightings-list, .sightings-detail {
  border: #fff solid 2px;
  padding: 20px;
  margin: 20px;
  min-height: 300px;
  min-width: 300px;
  border-radius: 10px;
}

.sighting-list-item {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  transition: color 0.3s ease,
}

.sighting-list-item:hover {
  color: #828aff;
}

.sighting-object div, .sighting-object h2 {
  margin-bottom: 10px;
}

.list-item {
  display: flex;
}

.list-item p {
  padding-right: 10px;
}


@media(max-width: 760px) {
  .sightings-panel {
    flex-wrap: wrap;
    justify-content: center;
  }  

  .sightings-list, .sightings-detail {
    width: 100%;
    min-height: 0;
    margin: 10px;
  }
}
